<a href="https://colab.research.google.com/github/SebastianG30/cyp_2021/blob/main/Tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Ejemplo 3.1 (pagina 109)

NOMINA=0
for i in range (10):
  i=i+1
  NOM=float(input(f"Ingrese el sueldo del empleado: {i}\n"))
  NOMINA=NOMINA+NOM
  print("La nomina de la empresa es de $: ",NOMINA)

Ingrese el sueldo del empleado: 1
890
La nomina de la empresa es de $:  890.0
Ingrese el sueldo del empleado: 2
800
La nomina de la empresa es de $:  1690.0
Ingrese el sueldo del empleado: 3
567
La nomina de la empresa es de $:  2257.0
Ingrese el sueldo del empleado: 4
120
La nomina de la empresa es de $:  2377.0
Ingrese el sueldo del empleado: 5
400
La nomina de la empresa es de $:  2777.0
Ingrese el sueldo del empleado: 6
500
La nomina de la empresa es de $:  3277.0
Ingrese el sueldo del empleado: 7
800
La nomina de la empresa es de $:  4077.0
Ingrese el sueldo del empleado: 8
999
La nomina de la empresa es de $:  5076.0
Ingrese el sueldo del empleado: 9
345
La nomina de la empresa es de $:  5421.0
Ingrese el sueldo del empleado: 10
123
La nomina de la empresa es de $:  5544.0

In [11]:
#Ejemplo 3.4 (pagina 117)

MontoTotal=0
flag= 1.0
while flag>0.0:
  aux=float(input("El monto es: $"))
  MontoTotal += (aux if aux > 0.0 else 0.0)
  flag= aux
print(f"El total de gastos es: ${MontoTotal}")

El monto es: $2528
El monto es: $3500
El monto es: $1600
El monto es: $1850
El monto es: $150
El monto es: $-1
El total de gastos es: $9628.0